body
{
    margin: 0px;
    background: #e8f1f2;
}

h1
{
    background: #073f6b;
    color: #e8f1f2;
    margin: 0px;
    padding: 30px;
    text-align: center;
}

form
{
    margin-left: 5px;
    font-size: 20px;
}

button
{
    margin-left: 1px;
    border-radius: 5px;
    font-size: 15px;
}
